<h1>User Details</h1>
<p>
<code>
curl -H "Authorization: Token token=<%= current_user.auth_token %>" http://localhost:3000/user.json
</code>
</p>

<p>
  <strong>Username:</strong>
  <%= @current_user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @current_user.email %>
</p>